@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MovieEntryForm

<h2>Record Deletion Page</h2>


<form method="post">
    <input type="hidden" asp-for="MovieId" />

    <br /><br />
    <h3>Are you sure you would like to delete the record for @Model.Title in quadrant @Model.Director ?</h3>
    <br /><br />
    <button type="submit" class="btn btn-outline-danger">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="MovieList">Cancel</a>


</form>