@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
@* hiii *@
<h1>The Joel Hilton Film Collection</h1>
<br />

<img src="~/img\mission6.jpg" />
<br />

<div>
    <a asp-controller="Home" asp-action="MovieEntryForm"> Fill this out for movies</a>
    <br />
    <a asp-controller="Home" asp-action="MovieList"> Look at our database of movies!</a>
</div>