@{
    ViewData["Title"] = "Home Page";
}

<h1>Get to Know Joel</h1>

<img src="~/img\mission6.jpg" />
<br />

<div>
    <a asp-controller="Home" asp-action="Mission6"> Fill this out for movies</a>
</div>