@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MovieEntryForm

<h2>Thanks fo submitting</h2>
<h2>Thank you. @Model.Title has been added to the database</h2>
<h4>Click <a asp-controller="Home" asp-action="MovieEntryForm">here</a> to keep adding movies</h4>
